<header>
    <nav>
        <a href="/">
            Tattva
        </a>
        <ul>
            <li>
                <a href="/persons">Persons</a>
            </li>
            <li>
                <a href="/persons/new">Add Person</a>
            </li>

        </ul>
    </nav>
</header>